@import url("https://fonts.googleapis.com/css?family=Lato:100,100i,300,300i,400,400i,700,700i,900,900i");
a,
a:hover,
a:active,
a:visited {
  display: inline;
  color: default;
  text-decoration: none;
  cursor: pointer; }

html {
  height: 100%;
  width: 100%; }
  html body {
    height: 100%;
    width: 100%;
    margin: 0 auto; }
    html body #grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 50px 1fr;
      height: 100%;
      width: 100%; }
      html body #grid-container #grid-header {
        display: grid;
        grid-column: auto;
        grid-row: 1;
        grid-template-columns: 120px 1fr auto auto auto auto auto;
        grid-template-rows: 1fr;
        height: 50px;
        width: 100%;
        background-color: #4a4a4a;
        overflow: hidden; }
        html body #grid-container #grid-header object {
          grid-column: 1;
          grid-row: auto;
          position: relative;
          top: 10px;
          bottom: 10px;
          left: 20px;
          height: 30px;
          width: 30px;
          padding-right: 10px; }
        html body #grid-container #grid-header #header-heading {
          grid-column: 1;
          grid-row: auto;
          position: relative;
          bottom: 25px;
          left: 60px;
          height: 16px;
          color: #ffffff;
          text-align: left;
          font-family: 'Lato', sans-serif;
          font-size: 20px;
          font-weight: 300;
          font-style: italic;
          letter-spacing: 1px;
          padding-right: 10px;
          margin: 0px; }
        html body #grid-container #grid-header #header-nav-news {
          grid-column: 3;
          grid-row: auto; }
        html body #grid-container #grid-header #header-nav-timeoff {
          grid-column: 4;
          grid-row: auto; }
        html body #grid-container #grid-header #header-nav-roster {
          grid-column: 5;
          grid-row: auto; }
        html body #grid-container #grid-header #header-nav-employees {
          grid-column: 6;
          grid-row: auto; }
        html body #grid-container #grid-header #header-nav-login {
          grid-column: 7;
          grid-row: auto; }

.nav {
  color: #ffffff;
  font-family: 'Lato', sans-serif;
  font-size: 15px;
  font-weight: 300;
  font-style: normal;
  padding: 15px 20px 5px 20px; }
  .nav:hover, .nav:active, .nav:focus {
    color: #00ff88;
    background-color: rgba(37, 37, 37, 0.4); }
    .nav:hover::after, .nav:active::after, .nav:focus::after {
      display: block;
      position: relative;
      content: "";
      top: 15px;
      background-color: #ffa500;
      height: 1px;
      width: auto;
      margin: 0px -20px 0px -20px; }

.input[type='text'],
.input[type='password'] {
  width: 400px;
  height: 30px;
  background-color: #454545;
  color: #ffffff;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #00ff88;
  padding-left: 10px; }
  .input[type='text']::-webkit-input-placeholder,
  .input[type='password']::-webkit-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']:-ms-input-placeholder,
  .input[type='password']:-ms-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']::-ms-input-placeholder,
  .input[type='password']::-ms-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']::placeholder,
  .input[type='password']::placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }

/*# sourceMappingURL=globals.css.map */