html {
  height: 100%;
  width: 100%;
  overflow: hidden; }
  html body {
    height: 100%;
    width: 100%; }
    html body #grid-container {
      display: grid;
      grid-template-columns: 1fr;
      grid-template-rows: 40px 1fr;
      height: 100%;
      width: 100%; }
      html body #grid-container #grid-content {
        display: grid;
        grid-column: auto;
        grid-row: 2;
        background-color: #454545; }
        html body #grid-container #grid-content #content-login-container {
          position: relative;
          display: grid;
          grid-template-columns: 1fr;
          grid-template-rows: 50px auto;
          justify-self: center;
          align-self: center;
          width: 500px;
          height: 450px;
          background-color: #4a4a4a;
          border: 1px solid rgba(255, 255, 255, 0.1); }
          html body #grid-container #grid-content #content-login-container #login-heading {
            position: relative;
            -ms-flex-item-align: center;
                align-self: center;
            color: #ffffff;
            font-family: 'Lato', sans-serif;
            font-size: 40px;
            font-weight: 300;
            font-style: italic;
            text-align: center;
            padding: 0px;
            margin: 0px; }
          html body #grid-container #grid-content #content-login-container #login-form {
            display: grid;
            grid-column: auto;
            grid-row: 2;
            grid-template-columns: 1fr;
            grid-template-rows: 70px 50px 30px 50px 50px 70px 1fr; }
            html body #grid-container #grid-content #content-login-container #login-form #login-username {
              grid-row: 2; }
            html body #grid-container #grid-content #content-login-container #login-form #login-password {
              grid-row: 4; }
            html body #grid-container #grid-content #content-login-container #login-form #login-submit {
              grid-row: 6;
              justify-self: center;
              -ms-flex-item-align: center;
                  align-self: center;
              width: 250px;
              height: 50px;
              background-color: #00ff88;
              border: #00b761;
              color: #ffffff;
              font-family: 'Lato', sans-serif;
              font-size: 28px;
              font-weight: 300;
              text-align: center;
              text-decoration: underline;
              cursor: pointer; }
            html body #grid-container #grid-content #content-login-container #login-form #login-register {
              grid-row: 7;
              justify-self: center;
              -ms-flex-item-align: start;
                  align-self: start;
              color: #ffffff;
              font-family: 'Lato', sans-serif;
              font-size: 12px;
              font-weight: 300; }
          html body #grid-container #grid-content #content-login-container #login-error {
            position: absolute;
            -ms-flex-item-align: start;
                align-self: start;
            justify-self: center;
            color: #ff0000;
            font-family: 'Lato', sans-serif;
            font-size: 14px;
            font-weight: 300;
            font-style: normal;
            margin-top: 100px; }

.input[type='text'],
.input[type='password'] {
  width: 400px;
  height: 30px;
  background-color: #454545;
  color: #ffffff;
  justify-self: center;
  -ms-flex-item-align: center;
      align-self: center;
  font-family: 'Lato', sans-serif;
  font-weight: 300;
  font-style: normal;
  border: 1px solid #00ff88;
  padding-left: 10px; }
  .input[type='text'][type='text']:hover, .input[type='text'][type='text']:active, .input[type='text'][type='text']:focus,
  .input[type='password'][type='text']:hover,
  .input[type='password'][type='text']:active,
  .input[type='password'][type='text']:focus {
    border: 1px solid #00ff22; }
  .input[type='text'][type='password']:hover, .input[type='text'][type='password']:active, .input[type='text'][type='password']:focus,
  .input[type='password'][type='password']:hover,
  .input[type='password'][type='password']:active,
  .input[type='password'][type='password']:focus {
    border: 1px solid #00ff22; }
  .input[type='text']::-webkit-input-placeholder,
  .input[type='password']::-webkit-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']:-ms-input-placeholder,
  .input[type='password']:-ms-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']::-ms-input-placeholder,
  .input[type='password']::-ms-input-placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }
  .input[type='text']::placeholder,
  .input[type='password']::placeholder {
    color: #ffffff;
    font-family: 'Lato', sans-serif;
    font-weight: 300;
    font-style: normal; }

/*# sourceMappingURL=login.css.map */