@import 'partials/_partials.scss';

@import url('https://fonts.googleapis.com/css?family=Lato');

a,
a:hover,
a:active,
a:visited {
	display: contents;

	color: initial;

	text-decoration: none;

	cursor: pointer;
}

html {
	height: 100%;
	width: 100%;

	body {
		height: 100%;
		width: 100%;

		margin: 0 auto;
	}
}

.nav {
	color: #ffffff;

	font-family: 'Lato', sans-serif;
	font-size: 15px;
	font-weight: 300;
	font-style: normal;

	padding: 5px 20px 5px 20px;

	&:hover,
	&:active,
	&:focus {
		color: $hourly-green;

		background-color: rgba(37, 37, 37, 0.400);

		&::after {
			display: block;

			position: relative;

			content: "";

			top: 15px;

			background-color: #ffa500;

			height: 1px;
			width: auto;

			margin: 0px -20px 0px -20px;
		}
	}
}
